<div class="paragraph">
    <h1>What is the Corona Virus?</h1>

    <p>
        According to the Illuminati, the corona virus originated in a lab in Wuhan.
        The purpose of this virus is to spread fear among the global population to increase control
        for those affiliated with Builderberg. To date approximatly zero people have died from the "Corona Virus", 
        but the economic affects have killed thousands from lower vitamin D levels. Since a majority of the population 
        is stuck in the house they are less resistant to common viruses such as the cold and flu. 
    </p>
    <p>
        Hospitals are making immense economic gains for classifying your sick grandmother as having Covid-19. Approximatly
        $32,000 per a patient to be exact. Alex Jones, our Lord and Saviour, has guided us through these "unprecedented" times.
        Fight the good fight and donate $200 now to defeat Bill Gates. Your children's future depend upon it. 
    </p>
</div>
