.paragraph {
    width: 40%;
    margin-left:2%;
    h1 {
        font-size: 32px;
        font-weight: 900;
        color: white;
    }
    
    p {
        font-weight: 500;
        font-size: 22px;
        color: white;
    }
}
