html {
    overflow: auto;
    margin: 0px; 
    padding: 0px; 
    height: 100%; 
    border: none;
    iframe {
        display: block; 
        width: 100%; 
        height: 1000px;
        border: none; 
        overflow-y: auto; 
        overflow-x: hidden;
    }
}
