.spinner {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

#myVideo {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}